AuthTest/AuthClient/Service References/TransferServiceNs/TransferService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetAppId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transferToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceAppId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transferToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateTransferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>